body
{
    padding: 0;
    margin: 0;
    max-width: 520px;
    font-family: 'Raleway', sans-serif;
}
a
{
    color: inherit;
    text-decoration: none;
}

/* Body */
h1
{
    font-size: 200%;
    font-weight: Bold;
}
section
{
    padding-left: 30px;
    padding-right: 30px;
}
#form_recherche
{
    display: flex;
    width: 100%;
    height: 40px;
    border: 1px solid #DEEBFF;
    border-radius: 15px;
}
#loca_recherche
{
    border: none;
    width: 12%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#submit_recherche
{
    border: none;
    width: 13%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    background-color: #0065FC;
    color: white;
}
#input_recherche
{
    padding: 0 15px;
    border: none;
    width: 75%;
}
#input_recherche::placeholder
{
    color: rgb(133, 133, 133);
    font-weight: bold;
}

/* Body Fin */