body
{
    padding: 0;
    margin: 0;
    width: 326px;
}
header
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav
{
    order: 2;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#inscription
{
    order: 1;
    /*width: 180px; */
}
